@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);

body{
    background-color: #fff;
}

body > header > nav{
    /*background-color: #666666;*/
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
}

body > footer{
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
}

a.brand-logo{
    padding-left: 1%;
}

.main-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 40px;
}
.brand-logo-text{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

nav ul a:hover{
    background-color: rgba(#323232, 0.842);
}

ul.dropdown-content{
    position: absolute;
    right:0px;
    top: -64px;
}

ul.dropdown-content > li > a{
    color: #000;
}

.current{
    background-color: #606060;
}

section.index-section{
    padding-top: 50px;
}

.index-bizagi-logo{
    width: 100%;
    max-height: 0 auto;
}

.bpmn-logo-img{
    width: 100%;
    max-height: 0 auto;
}

.checkmark-img{
    width: 100%;
    max-height: 0 auto;
}

.example-gif{
    width: 100%;
    max-height: 0 auto;
}

.bpmn-item{
    width: 100%;
    max-height: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bpmn-item-little{
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-img{
    width: 28px;
    max-height: 0 auto;
    margin: 6px;
}

.social-section{
    background-color: #606060;
    color: #fff;
}

.social-title{
    color: #000;
}

.colab{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

p.index-desc{
    font-size: 18px;    
}

.intercontent{
    background-color: rgb(88, 191, 250);
    color: #fff;
}

.intercontent > div > div > div > p{
    font-size: 18px;
}

.intercontent-2{
    background-color: gray;
    color: #fff;
}

.banner{
    padding-top: 28px;
}

.bizagi-logo{
    width: 95%;
    max-height: 0 auto;
}

.banner-modeler{
    background-color: rgb(255, 137, 41);
    color: #fff;
    padding-bottom: 6px;
}

.banner-modeler-examples{
    background-color: rgb(255, 137, 41);
    color: #fff;
}

.banner-studio{
    background-color: rgb(169, 190, 1);
    color: #fff;
    padding-bottom: 6px;
}

.banner-studio-examples{
    background-color: rgb(169, 190, 1);
    color: #fff;
}

.text-justify{
    text-align: justify;
    text-justify: auto;
}

.text-center{
    text-align: center;
}

.warn-text{
    color: red;
}

.warn-box{
    background-color: #dddddd;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.building-page-text{
    padding-top: 180px;
}

.teateam-logo{
    width: 100%;
    max-height: 0 auto;
}

footer.page-footer{
    background-color: #323232;
}

footer.page-footer > div.footer-copyright{
    background-color: rgba(28,28,28,0.7);
    height: 48px;
}

@media screen and (min-width: 1024px){
    footer.page-footer > div.footer-copyright > div > div > div > p{
        padding-top: 24px;
    }
}

@media screen and (max-device-width: 640px) and (orientation: portrait){
    footer.page-footer > div.footer-copyright > div > div > div > p{
        padding-top: 12px;
    }
}

.pannable-image{
    width: 700px;
}