@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);

body{
    background-color: #fff;
}

body > header > nav{
    /*background-color: #666666;*/
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
}

body > footer{
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
}

.main-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 40px;
}
.brand-logo-text{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

nav ul a:hover{
    background-color: rgba(#323232, 0.842);
}

ul.dropdown-content{
    position: absolute;
    right:0px;
    top: -64px;
}

ul.dropdown-content > li > a{
    color: #000;
}

.current{
    background-color: #606060;
}

section.index-section{
    padding-top: 50px;
}

.index-bizagi-logo{
    width: 100%;
    max-height: 0 auto;
}

p.index-desc{
    font-size: 18px;    
}

.intercontent{
    background-color: rgb(88, 191, 250);
    color: #fff;
}

.text-justify{
    text-align: justify;
    text-justify: auto;
}

.text-center{
    text-align: center;
}

.building-page-text{
    padding-top: 180px;
}

.center{
    align-items: center;
}

footer.page-footer{
    background-color: #323232;
}

footer.page-footer > div.footer-copyright{
    background-color: rgba(28,28,28,0.7);
}